<h3>{{title}}</h3>
<div class="ruleContent">
	<div class="inputs" id="hoursInputs">
		{{#each inputs}}
		<input type="checkbox" id="hours_{{name}}" value="{{name}}" name="hours" {{#if checked}}checked="checked" {{/if}} /><label for="hours_{{name}}" class="checkbox inline"> {{name}}	</label>
		{{/each}}
	</div>
</div>
