<td class="clickable name">{{name}}</td>
<td class="clickable vendor">{{vendor}}</td>
<td class="clickable time_end">{{time_end}}</td>
<td class="clickable time_end">{{time_end}}</td>
<td class="clickable hours">{{hours}}</td>
<td class="clickable countries">{{countries}}</td>
<td class="clickable platforms">{{platforms}}</td>
<td class="clickable counter">{{counter}}</td>
<td class="clickable price">{{price}}</td>
<td class="remove"><button class="btn btn-danger"><i class="icon-remove icon-white"></i></button></td>