<h3>{{name}}</h3>
<form class="form-horizontal" class="mainform">
	<div class="control-group">
		<label class="control-label" for="bannerName">Name</label>
		<div class="controls">
			<input type="text" class="modelInput" name="name" id="bannerName" placeholder="Banner name" value="{{name}}">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="bannerVendor">Vendor</label>
		<div class="controls">
			<input type="text" class="modelInput" name="vendor" id="bannerVendor" placeholder="Vendor" value="{{vendor}}">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="bannerPrice">Price</label>
		<div class="controls">
			<input type="text" class="modelInput" name="price" id="bannerPrice" placeholder="Price" value="{{price}}">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="bannerPrice">bannerCount</label>
		<div class="controls">
			<input type="text" class="modelInput" name="count" id="bannerCount" placeholder="Count" disabled value="{{count}}">
		</div>
	</div>
		<div class="btn-group" id="add_rule_button">
			<button class="btn btn-large">Add rule</button>
			<button class="btn btn-large dropdown-toggle" data-toggle="dropdown">
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a href="#time_start">Time start</a></li>
				<li><a href="#time_end">Time end</a></li>
				<li><a href="#hours">Hours</a></li>
				<li><a href="#days">Days</a></li>
				<li><a href="#countries">Countries</a></li>
				<li><a href="#platforms">Platforms</a></li>
			</ul>
		</div>
		<div id="accordion">
		</div>
	<div class="form-actions">
		<button type="button" class="save btn btn-primary">Save changes</button>
		<button type="button" class="cancel btn">Cancel</button>
	</div>



</form>